<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbp.crashtower">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BattleActivity" />
        <activity android:name=".activity.OptionActivity" />

        <activity android:name=".activity.MypageActivity"></activity>

        <activity
            android:name=".activity.MypagePopup"
            android:theme="@android:style/Theme.Material.Light.Dialog">
            <intent-filter>
                <action android:name="org.neulboworld.airmouse.intentfilter.mypagepopup" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MypageEquip"
            android:theme="@android:style/Theme.Material.Light.Dialog">
            <intent-filter>
                <action android:name="org.neulboworld.airmouse.intentfilter.mypageequip" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".result.SingleResult"
            android:theme="@android:style/Theme.Material.Light.Dialog">
            <intent-filter>
                <action android:name="org.neulboworld.airmouse.intentfilter.singleresult" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>